* {
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat","Noto Sans JP", "YuGothic", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.section-title {
  font-weight: bold;
  font-size: 3.2rem;
  color: #333333;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}

.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  margin: 0 auto;
}

.header .header-inner .site-title {
  width: 260px;
}

@media (max-width: 769px) {
  .header .header-inner .site-title {
    width: 189px;
  }
}

.header .header-inner .site-title.black svg path {
  fill: #333333;
  transition: fill .3s;
}

.header .header-inner .header-nav {
  font-weight: bold;
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  text-align: center;
  padding: 180px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  transform: translateX(100%);
  opacity: 0;
  transition: transform .3s,opacity .3s;
}

.header .header-inner .header-nav.open {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}

.header .header-inner .header-nav .nav-item {
  margin-bottom: 30px;
}

.header .header-inner .header-nav .nav-item .nav-item-link {
  color: #fff;
}

.header .header-inner .header-nav:first-of-type {
  margin-bottom: 40px;
}

.header .header-inner .header-nav:last-of-type {
  margin-bottom: 0;
}

.header .header-inner .burger-btn {
  display: flex;
  align-items: center;
  z-index: 3;
  outline: none;
}

.header .header-inner .burger-btn .bars {
  margin-right: 6px;
}

.header .header-inner .burger-btn .bars .bar {
  display: block;
  height: 2px;
  width: 22px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  transition: .3s;
}

.header .header-inner .burger-btn .bars .bar:last-of-type {
  margin-bottom: 0;
}

.header .header-inner .burger-btn .bars .bar.cross.bar-top {
  transform: rotate(45deg) translate(0px, 10px);
  transition: .3s;
}

.header .header-inner .burger-btn .bars .bar.cross.bar-mid {
  opacity: 0;
  transition: .3s;
}

.header .header-inner .burger-btn .bars .bar.cross.bar-bottom {
  transform: rotate(-45deg) translate(0px, -10px);
  transition: .3s;
}

.header .header-inner .burger-btn.black .bar {
  background-color: #333333;
  transition: background-color .3s;
}

.header .header-inner .burger-btn .menu {
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
}

.header .header-inner .burger-btn.black .menu {
  color: #333333;
  transition: color .3s;
}

.header .header-inner .burger-musk {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

body.noscroll {
  overflow: hidden;
  position: relative;
}

.fv {
  height: 60vh;
  min-height: 450px;
  position: relative;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 54.2%;
  height: 60vh;
  min-height: 450px;
  background-color: #222222;
  z-index: -1;
}

@media (max-width: 769px) {
  .fv::after {
    width: 52.9%;
  }
}

.fv .kv {
  background-image: url(../img/heading-img2x.jpg);
  background-position: center;
  background-size: cover;
  width: 76.4%;
  height: 83.4%;
  position: relative;
}

.fv .kv .main-copy {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(40%, -50%);
  color: #FFFFFF;
}

@media (max-width: 769px) {
  .fv .kv .main-copy {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%);
    color: #FFFFFF;
    white-space: nowrap;
  }
}

.fv .kv .main-copy .en-copy {
  letter-spacing: 0.063em;
  font-size: 7.2rem;
  font-weight: bold;
}

@media (max-width: 769px) {
  .fv .kv .main-copy .en-copy {
    font-size: 5.2rem;
  }
}

@media (max-width: 376px) {
  .fv .kv .main-copy .en-copy {
    letter-spacing: 0em;
  }
}

.fv .kv .main-copy .ja-copy {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 769px) {
  .fv .kv .main-copy .ja-copy {
    font-size: 1.6rem;
  }
}

.vision-wrapper {
  padding: 120px 0;
}

@media (max-width: 769px) {
  .vision-wrapper {
    padding: 80px 0;
  }
}

.vision-wrapper .vision {
  max-width: 649px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 769px) {
  .vision-wrapper .vision {
    max-width: 468px;
    padding: 0 4vw;
  }
}

.vision-wrapper .vision .section-title {
  margin-bottom: 25px;
}

.vision-wrapper .vision .message-lead {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 2.4rem;
}

.vision-wrapper .vision .section-text {
  font-family: "Noto Sans JP";
}

.message-wrapper {
  padding-bottom: 120px;
}

@media (max-width: 769px) {
  .message-wrapper {
    padding-bottom: 82px;
  }
}

@media (max-width: 376px) {
  .message-wrapper {
    padding-bottom: 80px;
  }
}

.message-wrapper .message {
  max-width: 1100px;
  margin: 0 auto;
  padding: 144px 20px 0;
  position: relative;
}

@media (max-width: 769px) {
  .message-wrapper .message {
    padding: 131px 4vw 0;
  }
}

@media (max-width: 376px) {
  .message-wrapper .message {
    padding: 129px 4vw 0;
  }
}

.message-wrapper .message .message-img-wrapper {
  position: absolute;
  top: 0;
  left: 20px;
  width: 38.2%;
}

@media (max-width: 769px) {
  .message-wrapper .message .message-img-wrapper {
    position: absolute;
    top: 0;
    left: 30px;
    width: 320px;
  }
}

@media (max-width: 376px) {
  .message-wrapper .message .message-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
  }
}

.message-wrapper .message .message-content-wrapper {
  width: 70%;
  margin-left: auto;
  background-color: #F0F0F0;
  padding: 120px 0 90px;
}

@media (max-width: 769px) {
  .message-wrapper .message .message-content-wrapper {
    width: 64.3%;
    padding: 109px 0 78px;
  }
}

@media (max-width: 376px) {
  .message-wrapper .message .message-content-wrapper {
    width: 100%;
    padding: 126px 0 188px;
  }
}

.message-wrapper .message .message-content-wrapper .message-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 376px) {
  .message-wrapper .message .message-content-wrapper .message-content {
    padding: 0 29px;
  }
}

.message-wrapper .message .message-content-wrapper .message-content .section-title {
  margin-bottom: 30px;
}

.company-wrapper {
  padding-bottom: 120px;
}

@media (max-width: 769px) {
  .company-wrapper {
    padding-bottom: 80px;
  }
}

.company-wrapper .company {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4vw;
}

.company-wrapper .company .section-title {
  padding-bottom: 30px;
  border-bottom: solid 1px #DDDDDD;
}

.company-wrapper .company .company-info-list {
  max-width: 800px;
  margin-left: auto;
}

@media (max-width: 769px) {
  .company-wrapper .company .company-info-list {
    max-width: 678px;
  }
}

.company-wrapper .company .company-info-list .company-info-list-flex {
  display: flex;
  padding: 17px 0 18px;
  border-bottom: solid 1px #DDDDDD;
}

.company-wrapper .company .company-info-list .company-info-list-flex:last-of-type {
  margin-bottom: 30px;
}

.company-wrapper .company .company-info-list .company-info-list-flex .company-info-title {
  font-weight: bold;
  flex-basis: 142px;
}

.company-wrapper .company .company-info-list .company-info-list-flex .company-info-detail {
  font-family: sans-serif;
}

.company-wrapper .company .company-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 32.7%;
}

@media (max-width: 376px) {
  .company-wrapper .company .company-map {
    padding-top: 470px;
  }
}

.company-wrapper .company .company-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 18px 0;
  text-align: center;
  background-color: #525252;
  color: #FFFFFF;
  font-size: 1rem;
}
/*# sourceMappingURL=about.css.map */